<div class="container">
  <div class="row">
    <div class="homepage">
      <h2>Welcome to Simple App</h2>
      <%= link_to "Sign In", new_user_session_path, class: 'left link-to' %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'right link-to' %>
    </div>
  </div>
</div>
