<div class="container">
  <div class="row">
    <div class="homepage">
      <p>Enter a city below to check for dog-friendly businesses in your area.</p>
      <form class="" action="/search" method="post">
        <label for="search"></label>
        <input type="text" name="search" placeholder="Raleigh">
      </form>
    </div>
  </div>
</div>
