<div class="container">
  <div class="row">
    <div class="homepage">
      <p>Enter a city and search term below to find businesses in your area.</p>
      <form class="authform-horizontal" action="/search" method="post">
        <label for="search"></label>
        <input type="text" name="search" placeholder="Raleigh">
        <label for="term"></label>
        <input type="text" name="term" placeholder="dog-friendly">
        <input type="submit" name="submit" class="button right">
      </form>
    </div>
  </div>
</div>
